{% load static %} {# minu lisatud #}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>MovieApp</title> {# lehe tab nimi #}
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static "assets/favicon.ico" %}" /> {# minu parandus #}
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static "css/styles.css" %}" rel="stylesheet" /> {#  minu muudatus #}
    </head>
    <body>
       {# siia menüü, faili nimi "" #}
       {% include "menu.html" %}

        <!-- Page content-->
        <div class="container">


            {% block content %}

            {% endblock %}

        </div>
        <!-- Bootstrap core JS-->
        <script src="{% static "js/bootstrap.bundle.min.js" %}"></script> {# minu muudatus, oli ennem interneti link #}
                                                                    {# nüüd kasutab kohalikku css ja js #}
        <!-- Core theme JS-->
        <script src="{% static "js/scripts.js" %}"></script> {# minu muudatus #}
    </body>
</html>
